body {
  font-family: sans-serif;
}

#gameScreen {
  border: 1px solid black;
}

img {
  display: none;
}


div.container {
  display: flex;
  padding-bottom: 20px;

}

.title {
  font-size: 30pt;
}

.version {
  /* align-self: flex-end; */
  padding-left: 5px;
  font-size: 12pt;
  color: grey;
}
